*, :after, :before{
	font-family: 'Poppins', sans-serif;

	box-sizing: border-box;
}

body{
	background-color: #FFFEEB;
	margin: 0px;
}

.container{
	width: 100%;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFF5;
  padding: 10px 30px;
  top: 0px;
  position: sticky;
  opacity: .95;
}

.nav__logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
}

.logo {
  width: 60px;
  margin-right: 25px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__links1 {
  font-weight: 400;
}

.nav__links1 a {
  margin-right: 15px;
  position: relative;
  text-decoration: none;
  color: #111;
}

.div__principal1{
	display: inline-block;
	width: 100%;
}

.div__principal{
	display: inline-block;
	width: 100%;
	padding-left: 7%;
	padding-bottom: 100px;
	font-size: 35px;
}

.div__principal h1{
	color: #111111;
	width: 440px;
}

.div__principal-texto{
	float: left;
}

.div__principal h2{
	margin-top: -40px;
	color: #111111;
	width: 440px;
}

.div__principal p{
	font-size: 16px;
	line-height: 25px;
	width: 440px;
	font-weight: 400;
	margin: 40px 0 70px;
}

.div__imgprincipal{
	justify-content: flex-end;
	float: right;
}

.div__imgprincipal img{
	display: inline-block;
	float: right;
	width: 1100px;
	height: auto;
	position: relative;
}

.nav__links1 a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #18CF2A;
  transition: width 0.3s ease;
}

.nav__links1 a:hover::after {
  width: 100%;
}

.div__principal-descarga{
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: 400;
  font-size: 25px;
  height: 65px;
  width: 300px;
  align-items: center;
  justify-content: center;
  background-color: #18CF2A;
  text-decoration: none;
  color: #000;
  padding: 8px 15px;
  border-radius: 60px;
  border: solid #111 1px;
  margin-left: 15px;
  transition: background-color 0.3s ease;
}

.div__principal-descarga img{
	width: 30px;
	margin-right: 30px;
	height: auto;
}

.div__principal-descarga:hover img{
	filter: invert(100%);
}

.div__principal-descarga:hover {
  background-color: #000;
  color: #fff;
}

.nav__links-descarga {
  display: flex;
  font-weight: 500;
  height: 60px;
  width: 200px;
  align-items: center;
  justify-content: center;
  background-color: #18CF2A;
  text-decoration: none;
  color: #000;
  padding: 8px 15px;
  border-radius: 60px;
  border: solid #111 1px;
  margin-left: 15px;
  transition: background-color 0.3s ease;
}

.nav__links-descarga:hover {
  background-color: #000;
  color: #fff;
}

.nav__links-descarga:hover img{
	filter: invert(100%);
}

.nav__links-descarga img {
  width: 20px;
  margin-right: 10px;
}

