body {
    background-color: #FFFEEB;
  }

.logo {
    position: absolute;
    width: 73px;
    height: 78px;
    left: 37px;
    top: 25px;
    background-image: url("../img/logo.png");
    background-size: cover;
  }

.custom-text {
    position: absolute;
    width: 300px;
    height: 48px;
    left: 50px;
    top: 3px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.022em;
    color: #1E1E1E;
}

.precios-text {
    position: absolute;
    width: 93px;
    height: 0px;
    left: 548px;
    top: 40px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 0%;
    text-align: center;
    color: #000000;
}

.conocenos-text {
    position: absolute;
    width: 93px;
    height: 0px;
    left: 678px;
    top: 40px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 0%;
    text-align: center;
    color: #000000;
}

.ayuda-text {
    position: absolute;
    width: 200px;
    height: 0px;
    left: 808px;
    top: 40px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 0%;
    text-align: center;
    color: #000000;
}

.button {
    position: absolute;
    width: 200px;
    height: 60px;
    left: 1200px;
    top: 30px;

    background: linear-gradient(0deg, #18CF2A, #18CF2A), #FFFFFF;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.download_text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}
  
.download_icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-color: transparent;
    background-size: cover;
    content: "";
    background-image: url("../img/download.png"); 
}