body {
    background-color: #FFFEEB !important;
    font-family: 'Inter', sans-serif;
}

.imagen {
    width: 400px; 
    height: 370px;
    background-image: url('../img/frutas_vertical.png');
    background-size: cover;
    background-position: center;
}
  
.titulo{
    font-weight: 700;
    font-size: 30px;
}

.texto{
    font-size: 15px;
    color: #757575;
    width:82.5%;
    line-height: 1.6;
}

.btn{
    font-weight: 500;
    height: 30px;
    width: 260px;
    background-color: #18CF2A;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.texto_cuenta{
    display: inline-block;
    margin-bottom: 0;
    padding-right: 5px;
}

.texto_login{
    color: #18CF2A;
    text-decoration: none;
    cursor: pointer;
}

a.texto_login:link, a.texto_login:hover, a.texto_login:active, a.texto_login:visited {
    text-decoration: none;
    color: #18CF2A;
}

a.nav__links-descarga:hover{
    background: #03A658
}

